
    <div class="col-md-3">
        <div class="card border-0">
            <div class="card-body">
                <p>Hello, <strong>@Session["Firstname"].ToString() @Session["Lastname"].ToString()</strong></p>
                <span ><img height="20px" src="//laz-img-cdn.alicdn.com/tfs/TB1Yvbxh8HH8KJjy0FbXXcqlpXa-208-40.png" alt="Verified"></span>
                <hr>
                <ul class="nav flex-column">
                    <li class="nav-item">@Html.ActionLink("My Profile", "UserProfile", "User", new { area = "" }, new { @class = "nav-link" })</li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Address Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Payment Options</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Daraz Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sell on Daraz</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
